@import "mixins";

@include font-face("SFUIText Bold", font-files("../assets/Fonts/SF-UI-Text-Bold.ttf"));
@include font-face("SFUIText Regular", font-files("../assets/Fonts/SF-UI-Text-Regular.ttf"));
@include font-face("SFUIText Semibold", font-files("../assets/Fonts/SF-UI-Text-Semibold.ttf"));

:active, :hover, :focus {
  outline: none;
  outline-offset: none;
}

a {
  text-decoration: none;
}
